# 선택 정렬 (Selection Sort)

In [15]:
def selection_sort(a):
    for i in range(0, len(a)-1):
        minimum = i
        for j in range(i, len(a)):
            if a[minimum] > a[j]:
                minimum = j
        a[i], a[minimum] = a[minimum], a[i]

a = [54, 88, 77, 26, 93, 17, 49, 10, 17, 77, 11, 31, 22, 44, 17, 20]
print('정렬 전 : ', end = '')
print(a)
selection_sort(a)
print('정렬 후 : ', end = '')
print(a)

정렬 전 : [54, 88, 77, 26, 93, 17, 49, 10, 17, 77, 11, 31, 22, 44, 17, 20]
정렬 후 : [10, 11, 17, 17, 17, 20, 22, 26, 31, 44, 49, 54, 77, 77, 88, 93]

# 삽입 정렬 (Insertion Sort)

In [16]:
def insertion_sort(a):
    for i in range(1, len(a)):
        for j in range(i, 0, -1):
            if a[j-1] > a[j]:
                a[j], a[j-1] = a[j-1], a[j]
                
a = [54, 88, 77, 26, 93, 17, 49, 10, 17, 77, 11, 31, 22, 44, 17, 20]
print('정렬 전 : ', end = '')
print(a)
insertion_sort(a)
print('정렬 후 : ', end = '')
print(a)

정렬 전 : [54, 88, 77, 26, 93, 17, 49, 10, 17, 77, 11, 31, 22, 44, 17, 20]
정렬 후 : [10, 11, 17, 17, 17, 20, 22, 26, 31, 44, 49, 54, 77, 77, 88, 93]

# 쉘 정렬 (Shell Sort)

In [17]:
def shell_sort(a):
    h = 4
    while h >= 1:
        for i in range(h, len(a)):
            j = i
            while j >= h and a[j] < a[j-h]:
                a[j], a[j-h] = a[j-h], a[j]
                j -= h
        h //= 3
        
a = [54, 88, 77, 26, 93, 17, 49, 10, 17, 77, 11, 31, 22, 44, 17, 20]
print('정렬 전 : ', end = '')
print(a)
shell_sort(a)
print('정렬 후 : ', end = '')
print(a)

정렬 전 : [54, 88, 77, 26, 93, 17, 49, 10, 17, 77, 11, 31, 22, 44, 17, 20]
정렬 후 : [10, 11, 17, 17, 17, 20, 22, 26, 31, 44, 49, 54, 77, 77, 88, 93]

# 힙 정렬 (Heap Sort)

In [18]:
def downheap(i, size):
    while 2*i <= size:
        k = 2*i
        if k < size and a[k] < a[k+1]:
            k += 1
        if a[i] >= a[k]:
            break
        a[i], a[k] = a[k], a[i]
        i = k

def create_heap(a):
    hsize = len(a) - 1
    for i in reversed(range(1, hsize//2+1)):
        downheap(i, hsize)

def heap_sort(a):
    N = len(a) - 1
    for i in range(N):
        a[1], a[N] = a[N], a[1]
        downheap(1, N-1)
        N -= 1
        
a = [-1, 54, 88, 77, 26, 93, 17, 49, 10, 17, 77, 11, 31, 22, 44, 17, 20]
print('정렬 전 : ', end = '')
print(a)
create_heap(a)
print('최대힙 : ', end = '')
print(a)
heap_sort(a)
print('정렬 후 : ', end = '')
print(a)

정렬 전 : [-1, 54, 88, 77, 26, 93, 17, 49, 10, 17, 77, 11, 31, 22, 44, 17, 20]
최대힙 : [-1, 93, 88, 77, 26, 77, 31, 49, 20, 17, 54, 11, 17, 22, 44, 17, 10]
정렬 후 : [-1, 10, 11, 17, 17, 17, 20, 22, 26, 31, 44, 49, 54, 77, 77, 88, 93]

## heapq를 이용한 힙정렬

In [8]:
import heapq
a = [54, 88, 77, 26, 93, 17, 49, 10, 17, 77, 11, 31, 22, 44, 17, 20]
print('정렬 전 :', a)

heapq.heapify(a)
print('힙 : \t', a)

s = []
while a:
    s.append(heapq.heappop(a))
print('정렬 후 :', s)

정렬 전 : [54, 88, 77, 26, 93, 17, 49, 10, 17, 77, 11, 31, 22, 44, 17, 20]
힙 : 	 [10, 11, 17, 17, 54, 17, 44, 20, 88, 77, 93, 31, 22, 77, 49, 26]
정렬 후 : [10, 11, 17, 17, 17, 20, 22, 26, 31, 44, 49, 54, 77, 77, 88, 93]

# 합병 정렬 (Merge Sort)

In [9]:
def merge(a, b, low, mid, high):
    i = low
    j = mid + 1
    for k in range(low, high + 1):
        if i > mid:
            b[k] = a[j]
            j += 1
        elif j > high:
            b[k] = a[i]
            i += 1
        elif a[j] < a[i]:
            b[k] = a[j]
            j += 1
        else:
            b[k] = a[i]
            i += 1
    
    for k in range(low, high + 1):
        a[k] = b[k]

def merge_sort(a, b, low, high):
    if high <= low:
        return
    mid = low + (high - low) // 2
    merge_sort(a, b, low, mid)
    merge_sort(a, b, mid + 1, high)
    merge(a, b, low, mid, high)

a = [54, 88, 77, 26, 93, 17, 49, 10, 17, 77, 11, 31, 22, 44, 17, 20]
b = [None] * len(a)
print('정렬 전 : ', end = '')
print(a)
merge_sort(a, b, 0, len(a)-1)
print('정렬 후 : ', end = '')
print(a)

정렬 전 : [54, 88, 77, 26, 93, 17, 49, 10, 17, 77, 11, 31, 22, 44, 17, 20]
정렬 후 : [10, 11, 17, 17, 17, 20, 22, 26, 31, 44, 49, 54, 77, 77, 88, 93]

# 퀵 정렬 (Quick Sort)

In [13]:
def qsort(a, low, high):
    if low < high:
        pivot = partition(a, low, high)
        qsort(a, low, pivot-1)
        qsort(a, pivot+1, high)

def partition(a, pivot, high):
    i = pivot + 1
    j = high
    while True:
        while i < high and a[i] < a[pivot]:
            i += 1
        while j > pivot and a[j] > a[pivot]:
            j -= 1
        if j <= i:
            break
        a[i], a[j] = a[j], a[i]
        i += 1
        j -= 1

    a[pivot], a[j] = a[j], a[pivot]
    return j

a = [54, 88, 77, 26, 93, 17, 49, 10, 17, 77, 11, 31, 22, 44, 17, 20]
print('정렬 전 :', a)
qsort(a, 0, len(a)-1)
print('정렬 후 :', a)

정렬 전 : [54, 88, 77, 26, 93, 17, 49, 10, 17, 77, 11, 31, 22, 44, 17, 20]
정렬 후 : [10, 11, 17, 17, 17, 20, 22, 26, 31, 44, 49, 54, 77, 77, 88, 93]

# 기수 정렬 (Radix Sort)

In [14]:
def lsd_sort(a):
    WIDTH = 3
    N = len(a)
    R = 128
    temp = [None] * N
    
    for d in reversed(range(WIDTH)):
        count = [0] * (R + 1)
        
        for i in range(N):
            count[ord(a[i][d]) + 1] += 1
        
        for j in range(1, R):
            count[j] += count[j-1]
        
        for i in range(N):
            p = ord(a[i][d])
            temp[count[p]] = a[i]
            count[p] += 1
        
        for i in range(N):
            a[i] = temp[i]
        
        print('%d번째 문자 :'%d, end = '')
        
        for x in a:
            print(x, ' ', end = '')
        print()

a = ['ICN', 'SFO', 'LAX', 'FRA', 'SIN', 'ROM', 'HKG', 'TLV',
     'SYD', 'MEX', 'LHR', 'NRT', 'JFK', 'PEK', 'BER', 'MOW']

print('정렬 전 :', end = '')
for x in a:
    print(x, ' ', end = '')
print()
lsd_sort(a)

정렬 전 :ICN  SFO  LAX  FRA  SIN  ROM  HKG  TLV  SYD  MEX  LHR  NRT  JFK  PEK  BER  MOW
2번째 문자 :FRA  SYD  HKG  JFK  PEK  ROM  ICN  SIN  SFO  LHR  BER  NRT  TLV  MOW  LAX  MEX
1번째 문자 :LAX  ICN  PEK  BER  MEX  JFK  SFO  LHR  SIN  HKG  TLV  ROM  MOW  FRA  NRT  SYD
0번째 문자 :BER  FRA  HKG  ICN  JFK  LAX  LHR  MEX  MOW  NRT  PEK  ROM  SFO  SIN  SYD  TLV